<nav>
    <p class="admin">Admin Login</p>
</nav>
<form class="login" action="/api/users/admin-login" method="post" >
    <label class="et l" style="width: 200px;" for="user">Username</label>
    <input  class="et" style="width: 200px;" id="user" name="user"></input>
    <label class="et l"  style="width: 200px;" for="password">Password</label>
    <input class="et"  style="width: 200px;" id="password" name="password"></input>
    <button class="butt" style="margin-top:20px"  type="submit">Login</button>
</form>
<style>
    body{
        margin: 0;
    }

    nav{
        background-color: rgb(127, 167, 133);
        height: 70px;
        width: 100%;
        
    }

    .admin{
        margin: 0;
        font-size: 25px;
        padding-top: 20px;
        color: #f4f4f4;
        padding-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .login{
        height: 100px;
        width: 200px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 5%;
        
    }

    .et{
        border-radius: 10px;
        height: 20px;
    }

    .l{
        width: fit-content;
    }
    
    .butt{
        padding: 5px;
        border-radius: 8px;
        border: 0px;
        width: 100px;
        color: #f4f4f4;
        background-color: rgb(160, 198, 166);
    }

</style>