<div style="width: 100%; display:flex; justify-content:center; margin-top:100px;">
 <form method="post" action="/api/users/create" style="display: flex; flex-direction:column ; width:300px;">
  <label for="user">User</label>
  <input id="user" name="user"></input>
  <label for="password">Password</label>
  <input id="password" name="password"></input>
  <label for="email">Email</label>
  <input id="email" name="email"></input>
  <label for="music">Music</label>
  <input id="music" name="music"></input>
  <label for="price">Price</label>
  <input id="price" name="price"></input>
  <label for="names">Names</label>
  <input id="names" name="names"></input>
  <label for="event_theme">Event Theme</label>
  <input id="event_theme" name="event_theme"></input>
  <label for="invitation_url">Invitation_url</label>
  <input id="invitation_url" name="invitation_url"></input>
  <label for="event_address">Event address</label>
  <input id="event_address" name="event_address"></input>
  <label for="party_address">Party Address</label>
  <input id="party_address" name="party_address"></input>
  <label for="party_text">Party text</label>
  <input id="party_text" name="party_text"></input>
  <label for="event_text">Event Text</label>
  <input id="event_text" name="event_text"></input>
  <label for="account_text">Account Text</label>
  <input id="account_text" name="account_text"></input>
  <label for="dress_code">Dress Code</label>
  <input id="dress_code" name="dress_code"></input>
  <label for="bar">Bar details</label>
  <input id="bar" name="bar"></input>
  <label for="party">Party</label>
  <input id="party" name="party"></input>
  <label for="kids">Kids</label>
  <input id="kids" name="kids"></input>
  <label for="date">Date</label>
  <input id="date" name="date"></input>
  <label for="model">Model</label>
  <select id="model" name="model">
   <option value="goldenPlus">goldenPlus</option>
   <option value="goldenLight">goldenLight</option>
   <option value="gardenPlus">gardenPlus</option>
   <option value="gardenLight">gardenLight</option>
   <option value="modern">modern</option>
   <option value="babyShower">babyshower</option>
  </select>
  <label for="gender">Gender -In case of babyshower-</label>
  <input id="gender" name="gender"></input>
  <label for="text1">Text1 -In case of babyshower-</label>
  <input id="text1" name="text1"></input>
  <label for="text2">Text2 -In case of babyshower-</label>
  <input id="text2" name="text2"></input>
  <label for="text3">Text3 -In case of babyshower-</label>
  <input id="text3" name="text3"></input>
  <label for="text4">Text4 -In case of babyshower-</label>
  <input id="text4" name="text4"></input>
  <label for="text5">Text5 -In case of babyshower-</label>
  <input id="text5" name="text5"></input>
  <label for="text6">Text6 -In case of babyshower-</label>
  <input id="text6" name="text6"></input>
  <label for="imagen1">imagen1</label>
  <input id="imagen1" name="imagen1"></input>
  <label for="imagen2">imagen2</label>
  <input id="imagen2" name="imagen2"></input>
  <label for="imagen3">imagen3</label>
  <input id="imagen3" name="imagen3"></input>
  <label for="imagen4">imagen4</label>
  <input id="imagen4" name="imagen4"></input>
  <label for="imagen5">imagen5</label>
  <input id="imagen5" name="imagen5"></input>
  <label for="imagen6">imagen6</label>
  <input id="imagen6" name="imagen6"></input>
  <label for="imagen7">imagen7</label>
  <input id="imagen7" name="imagen7"></input>
  <label for="imagen8">imagen8</label>
  <input id="imagen8" name="imagen8"></input>
  <label for="imagen9">imagen9</label>
  <input id="imagen9" name="imagen9"></input>
  <label for="imagen10">imagen10</label>
  <input id="imagen10" name="imagen10"></input>
  <label for="imagen11">imagen11</label>
  <input id="imagen11" name="imagen11"></input>
  <label for="imagen12">imagen12</label>
  <input id="imagen12" name="imagen12"></input>
  <label for="imagen13">imagen13</label>
  <input id="imagen13" name="imagen13"></input>
  <label for="imagen14">imagen14</label>
  <input id="imagen14" name="imagen14"></input>
  <label for="imagen15">imagen15</label>
  <input id="imagen15" name="imagen15"></input>
  <button>Create</button>
 </form>
</div>