<nav class="nav_one">
    <p class="admin">Admin Login</p>
     <div class="links">
        <a href="/api/users/createui">Crear</a>
        <a href="/api/users/allusers">Usuarios</a>
         <a href="/api/invitation/music/addui">Musica</a>
         <a href="/api/users/guide">Guia</a>
    </div>
</nav>
<nav class="nav_two">
    <p class="admin_two">Admin Login</p>
     <div class="links_two">
        <a href="/api/users/createui">Crear</a>
        <a href="/api/users/allusers">Usuarios</a>
        <a href="/api/invitation/music/addui">Musica</a>
        <a href="/api/users/guide">Guia</a>
    </div>
     <img onclick="nav_appear()" class="barras" src="https://firebasestorage.googleapis.com/v0/b/planticommerce.appspot.com/o/invitations%2F3_barras.png?alt=media&token=1d4c9ac0-48e7-4933-a267-dca272e7d71f">
</nav>
<div style="width: 100%; display:flex; flex-direction: column; justify-content:center; align-items:center; margin-top:139px;">
 <h1>Crear Invitacion white, rose, pumpkin</h1>
 <form method="post" action="/api/users/create" style="display: flex; flex-direction:column ; width:300px;">
  <label for="user">User ( nombre del anfitrion )</label>
  <input id="user" name="user"></input>
  <label for="password">Password ( contraseña del anfitrion )</label>
  <input id="password" name="password"></input>
  <label for="email">Email</label>
  <input id="email" name="email"></input>
  <label for="music">Musica</label>
  <input id="music" name="music"></input>
  <label for="price">Precio</label>
  <input id="price" name="price"></input>
  <label for="message">Mensaje</label>
  <input id="message" name="message"></input>
  <label for="names">Nombres</label>
  <input id="names" name="names"></input>
  <label for="names_font">Fuente de los nombres</label>
  <select id="names_font" name="names_font">
    <option value="Tangerine, cursive">Tangerine</option>
    <option value="Allura, cursive">Allura</option>
    <option value="Dancing Script, cursive">Dancing Script</option>
    <option value="Herr Von Muellerhoff, cursive">Herr Von Muellerhoff</option>
    <option value="Cookie, cursive">Cookie</option>
    <option value="Zeyada, cursive">Zeyada</option>
    <option value="Great Vibes, cursive">Great Vibes</option>
    <option value="Yellowtail, cursive">Yellowtail</option>
    <option value="Sacramento, cursive">Sacramento</option>
    <option value="Grey Qo, cursive">Grey Qo</option>
    <option value="Indie Flower, cursive">Indie Flower</option>
  </select>
  <label for="event_address">Ubicacion del Evento</label>
  <input id="event_address" name="event_address"></input>
  <label for="party_address">Ubicacion de la fiesta</label>
  <input id="party_address" name="party_address"></input>
  <label for="party_text">Fiesta sub texto</label>
  <input id="party_text" name="party_text"></input>
  <label for="event_text">Evento sub texto</label>
  <input id="event_text" name="event_text"></input>
  <label for="account_text">Cuenta</label>
  <input id="account_text" name="account_text"></input>
  <label for="dress_code">Dress Code ( en ausencia escribir "null")</label>
  <input id="dress_code" name="dress_code"></input>
  <label for="bar">Bar details ( en ausencia escribir "null")</label>
  <input id="bar" name="bar"></input>
  <label for="kids">Kids ( en ausencia escribir "null")</label>
  <input id="kids" name="kids"></input>
  <label for="date">Fecha ( formato : 2024-09-31T15:30:00 )</label>
  <input id="date" name="date"></input>
  <label for="model">Modelo</label>
  <select id="model" name="model">
   <option value="rose">Rose</option>
   <option value="pumpink">Pumpkin</option>
   <option value="white">white</option>
  </select>
  <label for="imagen1">imagen1</label>
  <input id="imagen1" name="imagen1"></input>
  <label for="imagen2">imagen2</label>
  <input id="imagen2" name="imagen2"></input>
  <label for="imagen3">imagen3</label>
  <input id="imagen3" name="imagen3"></input>
  <label for="imagen4">imagen4</label>
  <input id="imagen4" name="imagen4"></input>
  <button>Create</button>
 </form>
 <h1>Crear Invitacion green, golden</h1>
  <form method="post" action="/api/users/create" style="display: flex; flex-direction:column ; width:300px;">
  <label for="user">User ( nombre del anfitrion )</label>
  <input id="user" name="user"></input>
  <label for="password">Password ( contraseña del anfitrion )</label>
  <input id="password" name="password"></input>
  <label for="email">Email</label>
  <input id="email" name="email"></input>
  <label for="music">Musica</label>
  <input id="music" name="music"></input>
  <label for="price">Precio</label>
  <input id="price" name="price"></input>
  <label for="names">Nombres</label>
  <input id="names" name="names"></input>
  <label for="event_address">Ubicacion del Evento</label>
  <input id="event_address" name="event_address"></input>
  <label for="party_address">Ubicacion de la fiesta</label>
  <input id="party_address" name="party_address"></input>
  <label for="party_text">Fiesta sub texto</label>
  <input id="party_text" name="party_text"></input>
  <label for="event_text">Evento sub texto</label>
  <input id="event_text" name="event_text"></input>
  <label for="account_text">Cuenta</label>
  <input id="account_text" name="account_text"></input>
  <label for="dress_code">Dress Code ( en ausencia escribir "null")</label>
  <input id="dress_code" name="dress_code"></input>
  <label for="bar">Bar details ( en ausencia escribir "null")</label>
  <input id="bar" name="bar"></input>
  <label for="kids">Kids ( en ausencia escribir "null")</label>
  <input id="kids" name="kids"></input>
  <label for="date">Fecha ( formato : 2024-09-31T15:30:00 )</label>
  <input id="date" name="date"></input>
  <label for="model">Modelo</label>
  <select id="model" name="model">
   <option value="goldenPlus">Golden</option>
   <option value="gardenPlus">Garden</option>
  </select>
  <button type="button" onclick="recomendedGolden()">Imagen1 recomendada para golden</button>
  <label for="imagen1">imagen1</label>
  <input id="imagen1" name="imagen1"></input>
  <label for="imagen2">imagen2</label>
  <input id="imagen2" name="imagen2"></input>
  <label for="imagen3">imagen3</label>
  <input id="imagen3" name="imagen3"></input>
  <label for="imagen4">imagen4</label>
  <input id="imagen4" name="imagen4"></input>
  <label for="imagen5">imagen5</label>
  <input id="imagen5" name="imagen5"></input>
  <label for="imagen6">imagen6</label>
  <input id="imagen6" name="imagen6"></input>
  <label for="imagen7">imagen7</label>
  <input id="imagen7" name="imagen7"></input> 
  <button>Create</button>
 </form>
 <h1>Crear Invitacion Modern </h1>
 <form method="post" action="/api/users/create" style="display: flex; flex-direction:column ; width:300px;">
  <label for="user">User ( nombre del anfitrion )</label>
  <input id="user" name="user"></input>
  <label for="password">Password ( contraseña del anfitrion )</label>
  <input id="password" name="password"></input>
  <label for="email">Email</label>
  <input id="email" name="email"></input>
  <label for="music">Musica</label>
  <input id="music" name="music"></input>
  <label for="price">Precio</label>
  <input id="price" name="price"></input>
  <label for="names">Nombres</label>
  <input id="names" name="names"></input>
  <label for="event_address">Ubicacion del Evento</label>
  <input id="event_address" name="event_address"></input>
  <label for="party_address">Ubicacion de la fiesta</label>
  <input id="party_address" name="party_address"></input>
  <label for="party_text">Fiesta sub texto</label>
  <input id="party_text" name="party_text"></input>
  <label for="event_text">Evento sub texto</label>
  <input id="event_text" name="event_text"></input>
  <label for="account_text">Cuenta</label>
  <input id="account_text" name="account_text"></input>
  <label for="dress_code">Dress Code ( en ausencia escribir "null")</label>
  <input id="dress_code" name="dress_code"></input>
  <label for="bar">Bar details ( en ausencia escribir "null")</label>
  <input id="bar" name="bar"></input>
  <label for="kids">Kids ( en ausencia escribir "null")</label>
  <input id="kids" name="kids"></input>
  <label for="date">Fecha ( formato : 2024-09-31T15:30:00 )</label>
  <input id="date" name="date"></input>
  <input type="hidden" name="model" value="modern">
  <label for="imagen1">imagen1</label>
  <input id="imagen1" name="imagen1"></input>
  <label for="imagen2">imagen2</label>
  <input id="imagen2" name="imagen2"></input>
  <button>Create</button>
 </form>
  <h1>Crear Invitacion Baby Shower</h1>
  <form method="post" action="/api/users/create" style="display: flex; flex-direction:column ; width:300px;">
  <label for="user">User ( nombre del anfitrion )</label>
  <input id="user" name="user"></input>
  <label for="password">Password ( contraseña del anfitrion )</label>
  <input id="password" name="password"></input>
  <label for="email">Email</label>
  <input id="email" name="email"></input>
  <label for="music">Musica</label>
  <input id="music" name="music"></input>
  <label for="price">Precio</label>
  <input id="price" name="price"></input>
  <label for="names">Nombre del bebe</label>
  <input id="names" name="names"></input>
  <label for="names_font">Fuente del nombre</label>
  <select id="names_font" name="names_font">
    <option value="Tangerine, cursive">Tangerine</option>
    <option value="Allura, cursive">Allura</option>
    <option value="Dancing Script, cursive">Dancing Script</option>
    <option value="Herr Von Muellerhoff, cursive">Herr Von Muellerhoff</option>
    <option value="Cookie, cursive">Cookie</option>
    <option value="Zeyada, cursive">Zeyada</option>
    <option value="Great Vibes, cursive">Great Vibes</option>
    <option value="Yellowtail, cursive">Yellowtail</option>
    <option value="Sacramento, cursive">Sacramento</option>
    <option value="Grey Qo, cursive">Grey Qo</option>
    <option value="Indie Flower, cursive">Indie Flower</option>
  </select>
  <label for="event_address">Ubicacion del Evento</label>
  <input id="event_address" name="event_address"></input>
  <label for="account_text">Cuenta</label>
  <input id="account_text" name="account_text"></input>
  <label for="date">Fecha ( formato : 2024-09-31T15:30:00 )</label>
  <input id="date" name="date"></input>
  <input type="hidden" name="model" value="babyShower">
  <label for="gender">Genero del bebe</label>
  <select id="gender" name="gender">
    <option value="male">niño</option>
    <option value="female">niña</option>
  </select>
  <label for="text1">Texto1</label>
  <input id="text1" name="text1"></input>
  <label for="text2">Texto2</label>
  <input id="text2" name="text2"></input>
  <label for="text3">Texto3</label>
  <input id="text3" name="text3"></input>
  <label for="text4">Texto4</label>
  <input id="text4" name="text4"></input>
  <label for="text5">Texto5</label>
  <input id="text5" name="text5"></input>
  <label for="imagen1">imagen1</label>
  <input id="imagen1" name="imagen1"></input>
  <button type="button" onclick="recomendedFemale()">Imagen 1 recomendada niña</button>
  <button type="button" onclick="recomendedMale()">Imagen 1 recomendada niño</button>
  <label for="imagen2">imagen2 ( ecografia 1)</label>
  <input id="imagen2" name="imagen2"></input>
  <label for="imagen3">imagen3 ( ecografia 2)</label>
  <input id="imagen3" name="imagen3"></input>
  <label for="imagen4">imagen4 ( ecografia 3)</label>
  <input id="imagen4" name="imagen4"></input>
  <button>Create</button>
 </form>
</div>
<script>
  function nav_appear(){
    const nav = document.getElementsByClassName("links_two")[0]
    if( nav.style.display === "none" ){
      nav.style.display = "flex"
    }
    else{
      nav.style.display = "none"
    }
  }

  function recomendedGolden(){
    alert("https://firebasestorage.googleapis.com/v0/b/planticommerce.appspot.com/o/invitations%2Fgoldenwpp.png?alt=media&token=e7e0ff1d-4ee2-43c4-a8b1-21e3964484f6")
  }
  function recomendedFemale(){
    prompt("Enlace recomendado","https://firebasestorage.googleapis.com/v0/b/planticommerce.appspot.com/o/invitations%2Fbear.png?alt=media&token=f93aebe3-333e-43fe-8928-180a6ada65bc")
  }
  function recomendedMale(){
    prompt("Enlace recomendado","https://firebasestorage.googleapis.com/v0/b/planticommerce.appspot.com/o/invitations%2FTarjeta_de_invitaci%C3%B3n_Baby_Shower_Ni%C3%B1a_Palo_de_Rosa___1_-removebg-preview.png?alt=media&token=ce0b8664-7774-4bc3-ac89-89317bf63f94")
  }
</script>
<style>
   .nav_two{
    display: none;
  }
  .barras{
    display: none;
  }
  @media screen and ( max-width : 750px ){
    .nav_one{
      display: none !important;
    }
    .barras{
      display: inline;
      width: 30px;
      margin-top: 20px;
      height: 30px;
      filter: brightness(200);
      margin-right: 20px;
}
    .nav_two{
      display: flex;
      background-color: rgb(127, 167, 133);
      height: 70px;
      width: 100%;
      position: relative;
      justify-content: space-between;
    }

    .admin_two{
        margin: 0;
        font-size: 25px;
        padding-top: 20px;
        color: #f4f4f4;
        padding-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .links_two{
     width: 150px;
     display: none;
     background-color: #f4f4f4;
     flex-direction: column;
     gap: 15px;
     justify-content: center;
     align-items: center;
     height: 250px;
     margin-left: 15%;
     } 
     .links_two a{
      text-decoration: none;
      font-size: 20px;
      background-color: #f4f4f4;
      padding: 10px;
      color: rgb(40, 96, 48);
      border-radius: 20px;
 
     }
     .links_two a:hover{
      background-color: rgb(127, 167, 133);
      color: #ffffff;
     }
  }
  body{
    margin:0;
  }
  nav{
        background-color: rgb(127, 167, 133);
        height: 70px;
        width: 100%;
        display: flex;
        
    }

form{
  background-color: #f4f4f4;
  width: 300px;
  padding: 10px;
}

h1{
  background-color: rgb(127, 167, 133);
  color: #f4f4f4;
  padding: 10px;
  width: 300px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(25px);
}

.links{
width: 150px;
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
height: 100%;
margin-left: 15%;
}
.links a{
 text-decoration: none;
 font-size: 20px;
 background-color: #f4f4f4;
 padding: 10px;
 color: rgb(40, 96, 48);
 border-radius: 20px;
 
}

    .admin{
        margin: 0;
        font-size: 25px;
        padding-top: 20px;
        color: #f4f4f4;
        padding-left: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>